td, th{
    width: 29%;
}

body{
    overflow-x: auto;
    white-space:nowrap; 
}

.wrapper{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    position: absolute;
}

.wrapper .main{
    width: 100%;
    height: 100vh;
    margin-left: 200px;
}

.wrapper .outeroutertable{
    /* border: 1px solid green; */
    width: 100%;
    height: 80%; 
    /* margin-left: 100px; */
}

.wrapper .outertable{
    /* border: 1px solid aqua; */
    margin: 0 auto;
    width: 90%;
    height: 60vh; 
    overflow: auto;
    overflow-y: overlay;
}

.wrapper .outertable2{
    /* border: 1px solid aqua; */
    margin: 0 auto;
    width: 90%;
    height: 70vh; 
    overflow: auto;
    overflow-y: overlay;
}

.wrapper .outertable2 td, th{
    border: 1px solid #dddddd;
}

.wrapper .fakeoutertable{
    /* border: 1px solid red; */
    padding-right: 0px;
    margin: 0 auto;
    width: 90%;
    height: 30px; 
}

.wrapper .fakeoutertable tr:last-child td{  
    border: none;
}

.wrapper .fakeoutertable2{
    /* border: 1px solid red; */
    padding-right: 0px;
    margin: 0 auto;
    width: 90%;
    height: 30px; 
}

.wrapper .fakeoutertable2 th:last-child, td:last-child{  
    border: 1px solid #dddddd;
}

.wrapper table{
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 90%;
}

.wrapper td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
  }

.wrapper th:last-child, td:last-child {
    border: none;
    padding-left: 0px;
    background-color: white ;
}

.wrapper .main .tabcontent .outertable2 tr:nth-child(even) td:last-child{
    background-color: #dddddd;
}
  
.wrapper tr:nth-child(even) {
    background-color: #dddddd;
}

.wrapper .main .title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.wrapper .main .outeroutertable .toparea{
    /* border: 1px solid black; */
    display: flex;
    margin: 0 auto;
    width: 81%;
    text-align: left;
    padding-top: 14px; 
    padding-bottom: 15px; 
    font-size: 20px;
}

.wrapper .main .outeroutertable .toparea .DriverID{
    /* border: 1px solid black; */
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
    width: 29.1%;
    padding-top: 8px;
}

.wrapper .main .outeroutertable .toparea .tab{
    /* border: 1px solid blue; */
    text-align: center;
    width: 58.1%;
}

.wrapper .main .outeroutertable .toparea .tab button{
    /* border: 1px solid red; */
    /* width: 21.1vw; */
    /* z-index: 0; */
    width: 100%;
}

.wrapper .main .outeroutertable .NoRecord{
    /* border: 1px solid black; */
    margin: 0 auto;
    width: 81%;
    text-align: center;
    padding-top: 20px; 
    padding-bottom: 20px; 
    font-size: 30px;
}
