body {
    background-image: url(../images/loginBox2.png);
    background-size: cover;                
    background-repeat: no-repeat;
    background-position: center top;
}

.spacer1{
    /* border: solid blue; */
    height: 18vh;
}

.loginImage{
    /* border: solid blue; */
    background-image: url(../images/loginBox.png); 
    opacity: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    margin: 0 auto;
}

.loginField{
    /* border: solid blue; */
    width: 100%;
    position: relative;
    padding-top: 50%;
}

.loginText{
    /* border: solid red; */
    margin: 0 auto;
    width: 40%;
    height: 50px;
    padding-bottom: 5%;
    padding-left: 0px;
    text-align: center;
}

.loginText .usericon {
    /* border: 1px solid red; */
    background-image: url(../images/unameicon.png);
    background-size: 15px;   
    background-repeat: no-repeat;
    background-position:center center;
    float:right;
    width:20px;
    height:20px;
    margin-top:2px;
}

.loginText .passicon {
    /* border: 1px solid red; */
    background-image: url(../images/pwicon.png);
    background-size: 18px;   
    background-repeat: no-repeat;
    background-position:center center;
    float:right;
    width:20px;
    height:20px;
}


.loginButton{
    /* border: solid aqua; */
    width: 100%;
    padding-bottom: 15%;
}

@media (min-width: 992px) and (max-width: 1599px) { /* 992 - 1599 */
    .loginImage{
        width: 75%;
    }
}

