body {
    background-image: url(../images/loginBG2.png);
    background-size: cover;                
    background-repeat: no-repeat;
    background-position: center top;
}

.spacer1{
    /* border: solid blue; */
    height: 20vh;
}

.form-container{
    /* border: solid blue; */
    position: absolute;
    background-color: #436338;
    width: 40%;
    padding: 30px;
    border-radius: 20px;
}

.logo{
    /* border: solid blue; */
    background-image: url(../images/USCLOGO.png);
    opacity: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.loginField{
    /* border: solid cyan; */
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.loginText{
    /* border: solid red; */
    margin: 0 auto;
    width: 100%;
    height: 50px;
    padding-bottom: 20%;
    text-align: center;
}

.loginText .usericon {
    /* border: 1px solid red; */
    background-image: url(../images/unameicon.png);
    background-size: 15px;   
    background-repeat: no-repeat;
    background-position:center center;
    float:right;
    width:20px;
    height:20px;
    margin-top:2px;
}

.loginText .passicon {
    /* border: 1px solid red; */
    background-image: url(../images/pwicon.png);
    background-size: 18px;   
    background-repeat: no-repeat;
    background-position:center center;
    float:right;
    width:20px;
    height:20px;
}

@media (min-width: 992px) and (max-width: 1599px) { /* 992 - 1599 */
    .form-container{
        width: 45%;
    }
}

@media (min-width: 0px) and (max-width: 991px) { /* 591 - 991 */
    body {
        background-size: 300%;
        background-position: -1000px -500px;
    }
    .spacer1{
        height: 10vh;
    }
    .form-container{
        width: 60%;
    }
    .loginField{
        margin-bottom: 0px;
    }
}

