td, th{
    width: 15%;
}

@media print{
    @page {
        margin: 0in;
        size: 80mm 80mm;
    }
    body * { 
        visibility: visible; 
    }
    .sidebar * { 
        visibility: hidden; 
    }
    .PrintButton * { 
        visibility: hidden; 
    }
    .receiptdiv {
        height: 200px;
        z-index: 3;
        position: absolute; 
        top: -60px; 
        left: -313px; 
    }
    .wrapper .main .receiptdiv{
        visibility: hidden;
    }
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .main{
    /* border: 1px solid red; */
    padding-left: 220px;
    width: 100%;
    height: 100vh;
    margin: auto 0;
}

.wrapper .main .PrintButton{
    /* border: 2px solid black; */
    width: 360px;
    text-align: center;
    margin-left: 35%;
    margin-top: 1%;
}

.wrapper .main .PrintButton button{ 
    /* border: 2px solid black; */
    margin-left: 10px;
    margin-right: 10px;
}

.wrapper .main .receiptdiv{
    border: 2px solid black;
    width: 360px;
    height: 480px;
    margin-top: 5%;
    margin-left: 35%;
}

.wrapper .main .receiptdiv .rheader{
    border: solid black;
    border-width: 0 0 1px 0;
    text-align: center;
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.wrapper .main .receiptdiv .rbody{
    /* border: 1px solid red; */
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 22px;
}

.wrapper .main .receiptdiv .rbody table td{
    text-align: right;
    font-weight: bold;
}

.wrapper .main .receiptdiv .rbody2{
    /* border: 1px solid red; */
    padding-top: 5px;
    padding-bottom: 25px;
    font-size: 22px;
}

.wrapper .main .receiptdiv p{
    border: solid black;
    border-width: 0 0 1px 0;
    padding-bottom: 45px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 200px;
}

.wrapper .main .receiptdiv .rbody2 table td{
    text-align: right;
    font-weight: bold;
}