td, th{
    width: 15%;
}

body{
    overflow-x: auto;
    white-space:nowrap; 
}

.wrapper{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    position: absolute;
}

.wrapper .main{
    width: 100%;
    height: 100vh;
    margin-left: 200px;
}

.wrapper .outeroutertable{
    /* border: 1px solid green; */
    width: 100%;
    height: 80%; 
    /* margin-left: 100px; */
}

.wrapper .outertable{
    /* border: 1px solid aqua; */
    margin: 0 auto;
    width: 90%;
    height: 90%; 
    overflow: auto;
    overflow-y: overlay;
}

.wrapper .fakeoutertable{
    /* border: 1px solid red; */
    padding-right: 0px;
    margin: 0 auto;
    width: 90%;
    height: 30px; 
}

.wrapper .fakeoutertable th:last-child{  
    padding-left: 91px;
}

.wrapper table{
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 90%;
}

.wrapper td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
  }

.wrapper th:last-child, td:last-child {
    border: none;
    width: 9%;
    padding-left: 0px;
    background-color: white ;
}
  
.wrapper tr:nth-child(even) {
    background-color: #dddddd;
}

.wrapper .main .title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.wrapper .main .date{
    /* border: 1px solid black; */
    padding-top: 4px;
    /* width: 15%; */
    /* margin-right: 200px; */
}

.wrapper .main .status{
    width: 100%;
}

.wrapper .main .outeroutertable .toparea{
    /* border: 1px solid black; */
    /* display: flex; */
    margin: 0 auto;
    width: 81%;
    text-align: center;
    padding-top: 20px; 
    padding-bottom: 0px; 
}

.wrapper .main .outeroutertable .NoRecord{
    /* border: 1px solid black; */
    margin: 0 auto;
    width: 81%;
    text-align: center;
    padding-top: 20px; 
    padding-bottom: 20px; 
    font-size: 30px;
}

.wrapper .main .outeroutertable th:first-child{
    width: 12%;
}

.wrapper .main .outeroutertable th:nth-child(2),th:nth-child(3){
    width: 20%;
}

.wrapper .main .outeroutertable th:nth-child(4){
    width: 32.5%;
}

.wrapper .main .outeroutertable th:last-child{
    width: 50%;
}

.wrapper .main .outeroutertable td:first-child{
    width: 12%;
}

.wrapper .main .outeroutertable td:nth-child(2),td:nth-child(3){
    width: 20%;
}

.wrapper .main .outeroutertable td:nth-child(4){
    width: 32.5%;
}

.wrapper .main .outeroutertable td:last-child{
    width: 50%;
}

.main .outeroutertable .toparea .headerform {
    /* border: 1px solid black; */
    text-align: center;
    padding-bottom: 40px;
}

.main .outeroutertable .toparea .headerform h1{
    font-weight: lighter;
    font-size: 50px;
}

.main .outeroutertable .toparea .headerform h2{
    font-weight: 300;
    font-size: 20px;
    color: red;
    margin-bottom: -24px;
}