body {
    background-image: url(../images/loginBG.png);
    background-size: cover;                
    background-repeat: no-repeat;
}

.spacer1{
    /* border: solid aqua; */
    width: 100%;
    margin-top: 10%;
}

@media screen and (min-width: 1600px) {
    .spacer1{
        margin-top: 17%;
    }
}

.loginImage img{
    /* border: solid aqua; */
    position: absolute;
    left: 25%;
    width: 50%;
    opacity: 90%;
}

@media screen and (min-width: 1920px) {
    .loginImage img{
        left: 17.5%;
        width: 65%;
    }
}

.loginField{
    width: 100%;
    position: absolute;
    /* border: solid aqua; */
    padding-top: 35%;
    padding-left: 35%;
}

@media screen and (min-width: 1920px) {
    .loginField{
        padding-top: 45%;
    }
}

.loginText{
    /* border: solid aqua; */
    padding-bottom: 5%;
}

.loginButton{
    /* border: solid aqua; */
    width: 36%;
} 